<div id="<%= dom_id website %>">
  <p>
    <strong>User:</strong>
    <%= website.user_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= website.title %>
  </p>

  <p>
    <strong>Path:</strong>
    <%= website.path %>
  </p>

  <p>
    <strong>Startcommand:</strong>
    <%= website.startcommand %>
  </p>

</div>
