<h1>Welcome</h1>
<p id="notice"><%=notice%></p>
<%if user_signed_in?%>
<p><%=current_user.email%></p>
<p><%=current_user.distro.try(:name) || "pas de distro"%></p>
<p><%=current_user.programminglanguage.try(:name) || "pas de language de programmation"%></p>
<p><%=current_user.console.try(:name) || "pas de console"%></p>
<%else%>
  <p>comment être connecté-e ? tu eux réparer le cable rj45?? c'est par <%=link_to "ici", "/users/sign_in"%> le login</p>
<%end%>
<div class="row row-cols-1 row-cols-md-2 g-4">
  <%=render @posts%>
</div>
  <%=paginate @posts%>
<p></p>
<p></p>
