<div id="<%= dom_id game %>">
  <p>
    <strong>User:</strong>
    <%= game.user_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= game.title %>
  </p>

  <p>
    <strong>Path:</strong>
    <%= game.path %>
  </p>

  <p>
    <strong>Startcommand:</strong>
    <%= game.startcommand %>
  </p>

</div>
