<!DOCTYPE html>
<html>
  <head>
    <title>Myi18n</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%=action_cable_meta_tag%>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

  </head>

  <body style="<%=yield :backgroundpic%>">
    <nav>
      <%=link_to "sign in", "/users/sign_in"%>
      <%=link_to "sign up", "/users/sign_up"%>
      <%=link_to "editer mes infos", "/users/edit"%>
      <%=link_to "bienvenue", root_path%>
      <%=link_to "all the rooms", rooms_path%>




      <%=link_to "all the pair of nodes", pair_nodes_path%>
      <%=link_to "all the mac addresses", macs_path%>
      <%=link_to "all the switch tables", myswitch_tables_path%>
      <%=link_to "all the switches", switches_path%>
      <%=link_to "all the trafic infos", traffic_infos_path%>
      <%=link_to "all the ip addresses", ip_addresses_path%>
      <%=link_to "all the people", people_path%>
      <%=link_to "tous les endroits", places_path%>


      <%if user_signed_in?%>
      <%=link_to "toutes les villes", cities_path%>
      <%if current_user.prom.try(:name) == "freshman"%>
      <%=link_to "hacking computers", computerhackings_path%>
      <%elsif current_user.prom.try(:name) == "sophomore"%>
      <%=link_to "all the console", consoles_path%>
      <%=link_to "all the devices", devices_path%>
      <%elsif current_user.prom.try(:name) == "junior"%>
      <%=link_to "all the programming languages", programminglanguages_path%>
      <%elsif current_user.prom.try(:name) == "senior"%>
      <%=link_to "all the distros", distros_path%>
      <%end%>
        <%= button_to("Log Out", destroy_user_session_path, method: :delete) %>
      <%end%>
    </nav>
    <%= yield %>
    <div id="overlay">
        <div id="text"></div>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <script>
      function on() {
                document.getElementById("overlay").style.display = "block";
            }

      function off() {
                document.getElementById("overlay").style.display = "none";
            }
        <%if user_signed_in? and current_user.company%>
      $(function(){
              if ($("#notice").html().includes("Réussite de la connexion") || $("#notice").html().includes("Votre inscription est enregistrée") || $("#notice").html().includes("Votre mise à jour a été prise en compte")){
                      $("#text").html(`<p class=\"mymsg\">Salut <%=current_user.firstname%> ! <%=current_user.company.description%><%=current_user.prom.description%></p><a onclick=\"off();\">X</a>
     <p>où souhaitez vous aller</p>
     <select name="city" onchange="$('[name=lieu] option.monoption').hide();$('[name=lieu] option.monoption[data-city-id='+String(this.value)+']').show();">
     <option value="">sélectionnez une ville</option>
     <%City.all.each do |x|%>
       <option value="<%=x.id%>"><%=x.name%></option>
     <%end%>
     </select>
     <select name="lieu">
     <option value="">sélectionnez un lieu</option>
     <%Place.all.each do |x|%>
                                <option style="display:none;" class="monoption" data-city-id="<%=x.city_id%>" value="<%=x.id%>"><%=x.name%></option>
     <%end%>
     </select>
     <button tyoe="button" onclick="window.location.pathname='/places/'+$('[name=lieu]').val()+'/aller';">Aller</button>


                              `);
                      on();
                    }
            });
    <%end%>
      </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>
